@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

@font-face {
  font-family: Aeroport;
  font-weight: 300;
  src: local('Aeroport'), url('../fonts/Aeroport-Light.woff2') format('woff2');
}

@font-face {
  font-family: Aeroport;
  font-weight: 400;
  src: local('Aeroport'), url('../fonts/Aeroport.woff2') format('woff2');
}

@font-face {
  font-family: Aeroport;
  font-weight: 500;
  src: local('Aeroport'), url('../fonts/Aeroport-Medium.woff2') format('woff2');
}