.shedule {
  width: 100%;
  padding: 4rem;

  &__header {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: 48em) {
      grid-template-columns: 1fr;
    }
  }
}