.report-text-card {
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(#247cd3, 0.85);
  border-radius: 1.5rem;


  &__title {
    color: rgb(255, 255, 255) !important;
    padding-left: 1rem;
    // padding-right: 1rem;
  }

}