.nav {
  z-index: 10;
  position: relative;
  width: fit-content;
  top: 0.5rem;
  margin-left: 2rem;

  &__menu {
    background-color: #247cd3;
    color: white;
    font-size: 1.6rem;

    .ant-menu-item-selected {
      background-color: rgb(84, 154, 212);
    }
  }
}